@font-face {
  font-family: 'Roboto Slab';
  src: url('./fonts/RobotoSlab-Regular-webfont.eot');
  src: url('./fonts/RobotoSlab-Regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('./fonts/RobotoSlab-Regular-webfont.woff') format('woff'),
        url('./fonts/RobotoSlab-Regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('./fonts/OpenSans-Light-webfont.eot');
  src: url('./fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
        url('./fonts/OpenSans-Light-webfont.woff') format('woff'),
        url('./fonts/OpenSans-Light-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: 'Open Sans', sans-serif;
}
html, body {
  overflow: hidden;
  height: 100%;
  background-color: #fff;
}
body {
  margin: 1em;
  margin-top: 0;
  margin-bottom: 0;
}
.header {
  font-size: 36px;
  width: 100%;
  font-family: 'Roboto Slab', sans-serif;
  text-align: center;
  border: 0px solid blue; /* <- debug */
  border-bottom: 1px solid #ccc;
  background-color: #fff;
  margin: 10px 0;
  padding: 5px 0;
  outline: 0;
  display: block;
}
.textfield {
  font-size: 18px;
  border: 0px solid red;  /* <- debug */
  width: 100%;
  min-height: 70%;
  height: calc(100% - 140px);
  background-color: #fff;
  margin: 0;
  padding: 0;
  outline: 0;
  line-height: 150%;
  resize: none;
}
.btn {
  border: 2px solid #aaa;
  background-color: #eee;
  border-radius: 3px;
  padding: 5px 10px;
  color: #333;
}
.left {
  position: absolute;
  bottom: 1em;
  left: 1em;
}
.right {
  position: absolute;
  bottom: 1em;
  right: 1em;
}
